<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Produtos</title>

<!-- Bootstrap -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</head>
<body>
	<div class="container">
		<h2>Cadastro de Produtos</h2>
		<form th:action="@{/salvarProduto}" th:object="${produto}"
			method="post">
			
			<input type="hidden" th:field="*{codigo}" />
			<div class="form-group">
				<label for="nome">Nome:</label> 
					<input type="text" class="has-error"
					th:field="*{nome}" name="nome" autofocus="autofocus"/>
			</div>
			<div class="form-group">
				<label for="preco">Preço:</label> <input type="number" step="any"
					th:field="*{preco}" name="preco" />
			</div>
			<div class="form-group">
				<label for="quantidade">Quantidade:</label> <input type="number"
					th:field="*{quantidade}" />
			</div>
			<div class="form-group">
				<label for="categoria">Categoria:</label> <select
					th:field="*{categoria}">
					<option th:each="cat : ${listaCategorias}" th:value="${cat.codigo}"
						th:text="${cat.nome}"></option>
				</select>
			</div>
			<div>
				<button type="submit" class="btn btn-info">Salvar</button>
			</div>
			<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
				<p th:each="err : ${#fields.allErrors()}" th:text="${err}"></p>
			</div>
		</form>
		<hr/ >
		<div th:if="${produto.codigo == null}">
			<h3>Lista de Produtos:</h3>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Código</th>
						<th>Categoria</th>
						<th>Nome</th>
						<th>Preço</th>
						<th>Estoque</th>
						<th>...</th>
				</thead>
				<tbody>
					<tr th:each="prod : ${listaProdutos}">
						<td class="text-center" th:text="${prod.codigo}"></td>
						<td th:text="${prod.categoria.nome}"></td>
						<td th:text="${prod.nome}"></td>
						<td th:text="|R$ ${prod.preco}|"></td>
						<td class="text-right" th:text="${prod.quantidade}|"></td>
						<td class="text-center"><a
							th:href="@{/editarProduto(codigo=${prod.codigo})}"
							class="btn btn-info">Editar</a> <a
							th:href="@{/removerProduto(codigo=${prod.codigo})}"
							class="btn btn-alert">Remover</a></td>
					</tr>
					<tr th:if="${#lists.isEmpty(listaProdutos)}">
						<td colspan="7">Nenhum produto encontrado</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>