<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<a th:href="@{/exerc01/ind3(idioma=1)}">Português</a><br/>
	<a th:href="@{/exerc01/ind3(idioma=2)}">Inglês</a><br/>
	<a th:href="@{/exerc01/ind3(idioma=3)}">Alemão</a><br/>
	<a th:href="@{/exerc01/ind3(idioma=4)}">Búlgaro</a><br/>
	<a th:href="@{/exerc01/ind3(idioma=5)}">Espanhol</a><br/>
	<a th:href="@{/exerc01/ind3(idioma=6)}">Italiano</a><br/>
	
	<p></p>
	<a th:href="@{/}">Menu dos Exercícios</a><br/>
</body>
</html>